# Docker Task: {{ task.task_id }}
    {{ task.task_id }} = DockerOperator(
        task_id={{ task.task_id | repr }},
        image={{ task.image | repr }},
{% if task.command %}
        command={{ task.command | tojson }},
{% endif %}
        environment={{ task.environment | format_env_dict }},
        network_mode={{ task.network_mode | repr }},
        mounts=[
            Mount(
                source=HOST_DATA_DIR,
                target=CONTAINER_DATA_DIR,
                type='bind'
            )
        ],
        auto_remove={{ task.auto_remove | default(true) }},
        docker_url={{ task.docker_url | default('unix://var/run/docker.sock') | repr }},
{% if task.retries and task.retries != default_retries %}
        retries={{ task.retries }},
{% endif %}
{% if task.retry_delay_seconds and task.retry_delay_seconds > 0 %}
        retry_delay={{ task.retry_delay_seconds | format_timedelta }},
{% endif %}
{% if task.trigger_rule and task.trigger_rule != 'all_success' %}
        trigger_rule={{ task.trigger_rule | repr }},
{% endif %}
        mount_tmp_dir=False,
        force_pull=False,
        tty=True,
    )